body{
    background-color: #e5eff1;
  }
  .App {
    
    text-align: right;
    font-family: 'Fredericka the Great', cursive;
    background-color: #e5eff1;
    font-size: x-large;
  }
  
  .loading {
    background-image: url("/multimedia/logo\ karen.png") ;
    padding: 300px;
    background-repeat: no-repeat;
  }