
body {font-family: "Montserrat", sans-serif}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Press Start 2P', cursive;
  color: yellow;
}

p{
  font-family: 'Gabriela', serif;
}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */


.conteiner-all{
  width: 210px;
  margin: auto;
  perspective: 1000px;
  position: relative;
}
.conteiner-carrusel{
  width: 100%;
  position: absolute;
  animation: rotar 60s infinite linear ;
  transform-style: preserve-3d;
}

.conteiner-carrusel:hover{
  animation-play-state: paused;
  cursor: pointer;
}

.conteiner-carrusel figure{
  width: 100%;
  height: 100%;
  position: absolute;
  
}

.conteiner-carrusel figure:nth-child(1){
  color:#F7DF1E;
  transform: rotateY(0deg)
             translateZ(300px);
}
.conteiner-carrusel figure:nth-child(2){
  transform: rotateY(60deg)
             translateZ(300px);
}
.conteiner-carrusel figure:nth-child(3){
  color: #62DAFC;
  transform: rotateY(121deg)
             translateZ(300px);
}
.conteiner-carrusel figure:nth-child(4){
  color: #8CC84B;
  transform: rotateY(182deg)
             translateZ(300px);
}
.conteiner-carrusel figure:nth-child(5){
  color: #16A1DC;
  transform: rotateY(243deg)
             translateZ(300px);
}
.conteiner-carrusel figure:nth-child(6){
  color: red;
  transform: rotateY(300deg)
             translateZ(300px);
}
.conteiner-carrusel figure:nth-child(7){
  transform: rotateY(365deg)
             translateZ(300px);
}

.conteiner-carrusel img{
  width: 100%;
  position: absolute;

}

.conteiner-carrusel img:hover{
  transform: scale(1.5);
}

@keyframes rotar{
  from{
    transform: rotateY(0deg);
  }to{
    transform: rotateY(360deg);
  }
}


@media only screen and (max-width: 1000px ) {
  #main {
    margin-left: 0px ;
    margin-right: 0px;
  }
  header{
    padding: 100%;
  }

  .conteiner-small figure:nth-child(1){
    color:#F7DF1E;
  }
  .conteiner-small figure:nth-child(3){
    color: #62DAFC;
  }
  .conteiner-small figure:nth-child(4){
    color: #8CC84B;
  }
  .conteiner-small figure:nth-child(5){
    color: #16A1DC;
  }
  .conteiner-small figure:nth-child(6){
    color: red;
  }
}